In [329]:
import pandas as pd

df = pd.read_csv('credit-g.csv')
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,'no checking',12,'existing paid',furniture/equipment,1736,<100,4<=X<7,3,'female div/dep/mar',none,...,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,<0,30,'existing paid','used car',3857,<100,1<=X<4,4,'male div/sep',none,...,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,'no checking',12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,0<=X<200,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

In [330]:
#查看缺失数据
df.isnull().sum()

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [331]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   int64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   int64
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   int64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   int64
 11  property_magnitude      1000 non-null   object
 12  age                     1000 non-null   int64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   int64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   int64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: int64(7), object(14)
memory usage: 164.2+ KB
None

异常值处理并将所有类型不为int64的列进行独热编码

In [332]:
n = 0
columns_list = []
for i in df.columns:
    if df.dtypes[n] != 'int64' :
        columns_list.append(i)
    else:
        twice_std1 = df.iloc[:,n].mean() + 2 * df.iloc[:,n].std()
        twice_std2 = df.iloc[:,n].mean() - 2 * df.iloc[:,n].std()
        for j in range(len(df)):
            if df.iloc[j,n] > twice_std1:
                df.iloc[j,n] = twice_std1
            elif df.iloc[j,n] < twice_std2:
                df.iloc[j,n] = twice_std2
    n += 1
df=pd.get_dummies(df,columns = columns_list[:-1])

df

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,class,checking_status_'no checking',checking_status_0<=X<200,...,housing_own,housing_rent,job_'high qualif/self emp/mgmt',job_'unemp/unskilled non res',job_'unskilled resident',job_skilled,own_telephone_none,own_telephone_yes,foreign_worker_no,foreign_worker_yes
0,6.000000,1169.0,4,4,58.296937,2.0,1.000000,good,0,0,...,1,0,0,0,0,1,0,1,0,1
1,45.020629,5951.0,2,2,22.000000,1.0,1.000000,bad,0,1,...,1,0,0,0,0,1,1,0,0,1
2,12.000000,2096.0,2,3,49.000000,1.0,1.879172,good,1,0,...,1,0,0,0,1,0,1,0,0,1
3,42.000000,7882.0,2,4,45.000000,1.0,1.879172,good,0,0,...,0,0,0,0,0,1,1,0,0,1
4,24.000000,4870.0,3,4,53.000000,2.0,1.879172,bad,0,0,...,0,0,0,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.000000,1736.0,3,4,31.000000,1.0,1.000000,good,1,0,...,1,0,0,0,1,0,1,0,0,1
996,30.000000,3857.0,4,4,40.000000,1.0,1.000000,good,0,0,...,1,0,1,0,0,0,0,1,0,1
997,12.000000,804.0,4,4,38.000000,1.0,1.000000,good,1,0,...,1,0,0,0,0,1,1,0,0,1
998,45.000000,1845.0,4,4,23.000000,1.0,1.000000,bad,0,0,...,0,0,0,0,0,1,0,1,0,1
999,45.000000,4576.0,3,4,27.000000,1.0,1.000000,good,0,1,...,1,0,0,0,0,1,1,0,0,1

数值化'class'列

In [333]:
from sklearn import preprocessing

class_LE = preprocessing.LabelEncoder()
df['class'] = class_LE.fit_transform(df['class'].values)
df

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,class,checking_status_'no checking',checking_status_0<=X<200,...,housing_own,housing_rent,job_'high qualif/self emp/mgmt',job_'unemp/unskilled non res',job_'unskilled resident',job_skilled,own_telephone_none,own_telephone_yes,foreign_worker_no,foreign_worker_yes
0,6.000000,1169.0,4,4,58.296937,2.0,1.000000,1,0,0,...,1,0,0,0,0,1,0,1,0,1
1,45.020629,5951.0,2,2,22.000000,1.0,1.000000,0,0,1,...,1,0,0,0,0,1,1,0,0,1
2,12.000000,2096.0,2,3,49.000000,1.0,1.879172,1,1,0,...,1,0,0,0,1,0,1,0,0,1
3,42.000000,7882.0,2,4,45.000000,1.0,1.879172,1,0,0,...,0,0,0,0,0,1,1,0,0,1
4,24.000000,4870.0,3,4,53.000000,2.0,1.879172,0,0,0,...,0,0,0,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.000000,1736.0,3,4,31.000000,1.0,1.000000,1,1,0,...,1,0,0,0,1,0,1,0,0,1
996,30.000000,3857.0,4,4,40.000000,1.0,1.000000,1,0,0,...,1,0,1,0,0,0,0,1,0,1
997,12.000000,804.0,4,4,38.000000,1.0,1.000000,1,1,0,...,1,0,0,0,0,1,1,0,0,1
998,45.000000,1845.0,4,4,23.000000,1.0,1.000000,0,0,0,...,0,0,0,0,0,1,0,1,0,1
999,45.000000,4576.0,3,4,27.000000,1.0,1.000000,1,0,1,...,1,0,0,0,0,1,1,0,0,1

划分数据集

In [339]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(df[[i for i in list(df.columns) if i != 'class']],df['class'],test_size=0.2)

标准化

In [335]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
x_train = std.fit_transform(x_train)
x_test = std.transform(x_test)

使用逻辑回归进行预测

In [336]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(C=1.0)
lr.fit(x_train,y_train)
print(lr.coef_)
y_predict = lr.predict(x_test)

[[-0.31766661 -0.24387658 -0.36676101  0.00229318  0.25620917 -0.151966
  -0.0683498   0.41075134 -0.15462961 -0.32558257  0.05778841 -0.26114801
   0.28127613  0.04223311 -0.10611492 -0.14530473 -0.00044879 -0.32779981
   0.35694038 -0.05448543 -0.07813424  0.06577051  0.08592928  0.07443633
  -0.06050543  0.06213711  0.10350784  0.03401699  0.03624369 -0.20734252
   0.1983989  -0.06820421  0.21097951 -0.04026655 -0.02615224 -0.08849484
  -0.04264539 -0.13463951 -0.04254468  0.12481073 -0.12448859  0.1418608
  -0.02571806  0.00673577 -0.26844758  0.15223569  0.06093606 -0.13953148
   0.13704057 -0.02009825  0.07239066  0.04935409 -0.11796129  0.07179022
   0.05332881 -0.01376135 -0.05843916 -0.05501744  0.05501744  0.2125895
  -0.2125895 ]]

In [337]:
print("准确率为：",lr.score(x_test,y_test))

准确率为： 0.785

In [338]:
from sklearn.metrics import classification_report

print(classification_report(y_test,y_predict,labels=[1,0],target_names=["good","bad"]))

              precision    recall  f1-score   support

        good       0.79      0.93      0.86       137
         bad       0.76      0.46      0.57        63

    accuracy                           0.79       200
   macro avg       0.78      0.70      0.72       200
weighted avg       0.78      0.79      0.77       200